
/* New  */

.number .btn{
    margin: 5px;
    width: 50px;
    height: 50px;
}
.c2 {
    overflow: hidden;
}


#building {
    width: 40%;
    background: #594D47;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 -20px 0 #574B45;
}

@media (max-width:1279px) {
    #building {
        width: 80%;
        background: #594D47;
        height: 500px;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 -20px 0 #574B45;
    }
}

#elevatorShaft {
    background: #362E2B;
    width: 33.33%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

#elevatorContainer {
    position: absolute;
    height: 500px;
    width: 100%;
    bottom: 0;
}

#elevator {
    height: 20%;
    overflow: hidden;
    width: 100%;
    position: relative;
    box-shadow: 0 -10px 0 #333;
    background: url(http://www.riversideelevators.com/img/elevator_inside.jpg);
    background-size: 100% 100%;
}

.door {
    background: #AAA;
    width: 49%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: all 3000ms ease-in;
}

#leftDoor {
    left: 0;
}

#rightDoor {
    right: 0;
    background: #999;
}

.active-right {
    right: -50% !important;
}

.active-left {
    left: -50% !important;
}

#strings {
    height: 80%;
    background: -moz-linear-gradient(left, transparent, transparent 10%, #AAA 10%, #AAA 30%, transparent 30%, transparent 40%, #CCC 40%, #CCC 60%, transparent 60%, transparent 70%, #999 70%, #999 90%, transparent 90%, transparent);
    width: 75%;
    margin: 0 auto;
}


/* Card */
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 0 20px 20px 20px;
}

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}